@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  overflow-x: hidden;
  
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  
}

.container .logo{
  display: flex;
  align-items: center;
  
}

.logo img{
  height: 70px;
}



.header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: 3px solid orangered;
  height: 15vh ;
  
}

.header .container {
  justify-content: space-between;
  
}

.header a {
  text-decoration: none;
  color: orangered;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: orange;
}


.titulo {
  color:orangered;
  width: fit-content;
  font-weight: 500;
}


/* BANNER */

.banner {
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: fit-content;
  margin: auto;
  background-image: url(imgs/ppt\ dbs.webp);
  justify-content: center;
  padding:0;
  color: white;
  background-size: cover;
  background-color: orangered;
  width: 100%;
  height: 70vh;
}

.banner-centralizado {
  justify-content: center;
  display: flex;
  align-items: center;
}


.banner .background-video{
width:100%;
height:100%;
object-fit:cover;
margin-top: auto;
left:0;
right:0;
top:0;
bottom:0;
}

.banner .container {
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.tamanho-conteudo { 
  height: fit-content !important;
  justify-content: center;
  
}



.banner p {
  width: 50%;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 40px;
  
}

.banner .container span {
  font-weight: 800;
}

/* missao visao valores */

.social {
  
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-evenly;
}

.social .container{
  height: 200px;
  justify-content:space-evenly;
}

.box img {
  width: 110px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-evenly;
}

.social p {
  text-align: center;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* FOOTER */

.footer {
  background-color:orangered;
  height: 15vh;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  display: flex;
  justify-content: space-evenly;
}

.container .rede1{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.container .rede2{
  display: flex ;
  justify-content: space-evenly;
  list-style: none;
}

.container .rede2 img{
  
  height: 30px;
  width: 30px;
  
}

/* LOGIN */

.banner .container .card {
  background-color: #29272794;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: rgb(245, 113, 4);
  align-items: center;
  border-radius: 4px;
}

.card {
  display: flex;
  justify-content: space-around;
  height: fit-content;
}

.card p{
  display:flex;
  justify-content: center;
  font-size: 20px;
}


.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: orange 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 18px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid orangered;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: orangered;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */



/* pagina extra - simulador */
.historia {
  color: white;
margin:0;

}

.historia .container {
  flex-direction: column
}

.historia .container img{
  height: 40vh;
  width: 50vw;
}